.hero__header {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__header--about {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/video-banner1.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.hero__header--history {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/newsletter.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero__header--estates {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/banner-our-state.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
